.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 704px;
  margin-top: 50px;
  height: 80px;
  border: solid 2px black;
  background-color: grey;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  width: 704px;
  height: 80px;
}

.pros {
  border: solid 2px black;
  width: 350px;
}

.cons {
  border: solid 2px black;
  width: 350px;
}

.input {
  height: 400px;
}

.chat-area {
  border: solid 2px black;
  height: 400px;
  overflow-y: scroll;
}
